:root {
    --tridactyl-fg-colour: black;
    --tridactyl-bg-colour: white;
    --tridactyl-font-family: monospace;
    --tridactyl-border-colour: lightgray;

}

#cmdline_iframe {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 2147483647 !important;
    width: 100% !important;
    height: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    min-height: 0 !important;
    max-height: none !important;
    background: var(--tridactyl-bg-colour) !important;
    color: var(--tridactyl-fg-colour) !important;
}

.TridactylStatusIndicator {
    position: fixed !important;
    bottom: 0 !important;
    font-family: var(--tridactyl-font-family) !important;
    border: 1.5px var(--tridactyl-border-colour) solid !important;
    border-radius: 2px !important;
    font-size: 12px !important;
    padding: 0.25ex !important;
    right: 2px !important;
    bottom: 2px !important;
    z-index: 2147483646 !important; /* this is one less than the command line so that it is hidden by it */
    line-height: initial !important; /* cleanslate doesn't seem to set this correctly */
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background: var(--tridactyl-bg-colour) !important;
    color: var(--tridactyl-fg-colour) !important;
}

@media print {
    .TridactylStatusIndicator {
        display: none;
    }
}
